@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@-webkit-keyframes rotateIn {
  0% {
    -webkit-transform: rotateZ(180deg);
            transform: rotateZ(180deg);
  }
  100% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
}
@keyframes rotateIn {
  0% {
    -webkit-transform: rotateZ(180deg);
            transform: rotateZ(180deg);
  }
  100% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
}
@-webkit-keyframes rotateOut {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(180deg);
            transform: rotateZ(180deg);
  }
}
@keyframes rotateOut {
  0% {
    -webkit-transform: rotateZ(0deg);
            transform: rotateZ(0deg);
  }
  100% {
    -webkit-transform: rotateZ(180deg);
            transform: rotateZ(180deg);
  }
}
.animate {
  opacity: 0;
  -webkit-transform: translateY(20px);
          transform: translateY(20px);
  -webkit-animation: appear 0.7s ease-out forwards;
          animation: appear 0.7s ease-out forwards;
}

@-webkit-keyframes appear {
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes appear {
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
.foods:nth-child(1) .menu-cards {
  -webkit-animation-delay: 0.7s;
          animation-delay: 0.7s;
}

.foods:nth-child(2) .menu-cards {
  -webkit-animation-delay: 1.2s;
          animation-delay: 1.2s;
}

.foods:nth-child(3) .menu-cards {
  -webkit-animation-delay: 1.6s;
          animation-delay: 1.6s;
}

.checkmark {
  -webkit-transform: rotateZ(180deg);
          transform: rotateZ(180deg);
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  -webkit-animation: fadeOut 0.6s, rotateOut 0.6s;
          animation: fadeOut 0.6s, rotateOut 0.6s;
  overflow: hidden;
  color: #99E2D0;
}

.menu-cards:hover .check {
  width: 80px;
}

.menu-cards:hover .checkmark {
  -webkit-transform: rotateZ(0deg);
          transform: rotateZ(0deg);
  -webkit-animation: fadeIn 0.6s, rotateIn 0.6s;
          animation: fadeIn 0.6s, rotateIn 0.6s;
}

.options:hover {
  opacity: 0.9;
  -webkit-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
}

.button:hover {
  opacity: 0.9;
  -webkit-box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
}